body,
html {
    margin: 0;
    padding: 0;
    background-color: #3f5c40;
    font-family: "Open Sans", sans-serif;
}

.rules {
    background-color: #c04b34;
    margin-left: 12.5%;
    padding: 20px 15px;
    width: 50%;
    overflow: hidden;
    height: 200px;
    position: relative;
    top: 50px;
    left: 140px;
    border-radius: 10px;
    transition: 0.3s;
    opacity: 0.7;
}

.rules .ruleWord {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
}

.main_box {
    width: 70%;
    /* background-color: #d2d2d2; */
    background-color: #c0cf9d;
    padding: 20px;
    margin-left: 12.5%;
    /* margin-top: 10%; */
    margin-bottom: 60px;
    border-radius: 10px;
    height: 400px;
    position: relative;
    filter: drop-shadow(20px 10px 10px black);
}

.main_box .control {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 10%;
    position: absolute;
    left: 45%;
}

.main_box .control button {
    border-radius: 12px;
    padding: 5px 12px;
    margin-bottom: 24px;
    border: 1px solid #eee;
    transition: 0.3s;
    background-color: #3f5c40;
    color: white;
    font-size: 14px;
}

.main_box .control button:hover {
    font-weight: bold;
    color: rgb(79, 124, 81);
    background-color: black;
}

.main_box .control #dice {
    margin-bottom: 50px;
    filter: drop-shadow(0px 0px 18px black);
    background-color: black;
    border-radius: 12px;
    border: 1px solid black;
    width: 100%;
}

.main_box .control .inputs {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.main_box .control input {
    border-radius: 8px;
    padding: 12px 0px;
    margin-bottom: 4px;
    border: 1px solid #eee;
    transition: 0.3s;
    background-color: #c04b34;
    color: white;
    font-size: 12px;
    width: 150px;
    text-align: center;
    position: relative;
    left: -100px;
}

.main_box .control input::placeholder {
    color: white;
}

.main_box .boxes {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main_box .boxes #box1,
.main_box .boxes #box2 {
    padding: 12px 40px;
    font-size: 32px;
    font-weight: normal;
    border-radius: 12px;
    border: 5px solid #3f5c40;
    height: 385px;
    width: 250px;
    text-align: center;
}

.main_box .boxes #box1 #player1,
.main_box .boxes #box2 #player2 {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: normal;
}

.active-player {
    font-weight: bold;
    color: rgb(69, 105, 70);
    background-color: black;
    border-radius: 30px;
    padding: 8px 0px;
    animation: rotate 2s infinite;
    filter: drop-shadow(14px 6px 8px black);
}

@keyframes rotate {
    40% {
        transform: rotate(-7deg);
    }
    20% {
        transform: rotate(7deg);
    }
}

.main_box .boxes #box1 #current_score1,
.main_box .boxes #box2 #current_score2 {
    margin-bottom: 100px;
    font-size: 17px;
    color: rgb(136, 65, 65);
    text-align: center;
    font-weight: bold;
}

.main_box .boxes #box1 .total_score,
.main_box .boxes #box2 .total_score {
    background-color: #c04b34;
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    filter: drop-shadow(10px 10px 8px black);
    font-size: 22px;
}

.main_box .boxes .total_score div {
    padding: 8px 12px 0px 12px;
}

.main_box .boxes .total_score #gamesWons1,
.main_box .boxes .total_score #gamesWons2 {
    font-size: 16px;
    margin-bottom: 12px;
}